.button__container {
  button {
    width: 5rem;
    height: 1.5rem;
    border-radius: 2px;
    background-color: rgb(232, 232, 232);
    border: 2px solid rgb(163, 163, 163);
    color: rgb(94, 94, 94);
  }
}
