.textfieldgroup {
  &__labelcontainer {
    position: relative;
    margin: 0 auto;
    width: 90%;
    label {
      position: relative;
      left: -45%;
      font-weight: bold;
    }
  }
  &__input {
    border: 2px solid rgb(163, 163, 163);
    width: 90%;
    border-radius: 3.5px;
  }
}
