.postlist {
  width: 80%;
  margin: 10px auto;
  position: relative;
  list-style: none;
  border: 2px solid rgb(163, 163, 163);
  &__title_container {
    display: flex;
    justify-content: flex-start;
    padding-right: 25px;
    padding-left: 5px;

    h3 {
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 10px;
      margin-bottom: 19px;
    }
  }
  &__user_container {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 5px;
  }
  img {
    position: relative;
    left: 48%;
    top: -30px;
    cursor: pointer;
  }
}
